<div class="container">
    <div class="title">
        <h3>Ofertas</h3>
    </div>
    <div class="products-container">
        <% ofertas.forEach(product => { %>
            <a class="to-product" href="/products/<%= product.id %>">
                <div class="product-container add-shadow-1">
                    <div class="image-product"><img class="photo-product" src=<%= product.image %> ></div>
                    <div class="price-product">$<%= product.variants[0].price %> </div>
                    <div class="desc-product"><%= product.name %> </div>
                    <a href="/products/<%= product.id %>"<%= product.id %> class="btn"><i class="fas fa-cart-arrow-down"></i> 
                        Comprar 
                    </a>
                </div>
            </a>
        <% }) %> 
    </div>
    
</div> 